langchain>=0.3.25
langchain-community>=0.3.23
langchain-core>=0.3.60
langchain-chroma>=0.2.4
langchain-groq==0.3.2
langchain-huggingface==0.1.2
chromadb>=0.4.4
tqdm
requests
pymupdf
streamlit
python-dotenv
sentence-transformers
torch>=2.0.0
torchvision>=0.15.0